* {
  font-family: "Poppins", sans-serif;
}

.loading {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 8px solid #dddddd;
  border-top-color: #b643d5;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

#path {
  margin-left: 7.7vw;
  margin-top: 6.4vh;
  height: 2.9vh;
}

.view {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.wrap {
  /* width 100당 옆으로 슬라이드되는 화면 갯수  */
  width: 200vw;
  height: 100%;
  transition: transform 500ms;
  position: relative;
}

.screen {
  height: 100%;
  width: 100vw;
  overflow-y: auto;
  float: left;
}

.text-box {
  color: #4e5053;
  margin: 2.7vh 7.7vw 4.6vh 7.7vw;
}

.text-box h1 {
  font-size: 3.2vh;
  font-weight: 600;
}

.description {
  margin-top: 4.6vh;
  margin-bottom: 3.7vh;
  font-size: 1.7vh;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #727376;
}

.card {
  margin: 0 7.7vw;
  padding: 2.5vh 0 0 5.3vw;
  background: #ffffff;
  box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
}

.info {
  height: 23.4vh;
}

.info-detail {
  height: 11.8vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.pending-card {
  height: 11.8vh;
  margin-bottom: 2.5vh;
}

.next-btn {
  height: 7.4vh;
  width: 85%;
  display: block;
  margin: auto;
  background: linear-gradient(162.1deg, #faabb2 -180.26%, #ea4b63 243.53%);
  border-radius: 10px;
  color: white !important;
  font-weight: 600;
  font-size: 1.8vh;
  margin-bottom: 9.1vh;
}

.row-wrap {
  display: flex;
}

.photo-wrap {
  margin-right: 5.3vw;
  display: flex;
  flex-direction: column;
}

#circle {
  margin-bottom: 1.5vh;
  background: #dadada;
  width: 13vh;
  height: 13vh;
  border-radius: 100px;
}

#circle img {
  size: 4vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-btn {
  font-size: 1.5vh;
  background: none;
  border: none;
  color: #b9b9b9;
}

.info-wrap .name {
  font-size: 2.2vh;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #4e5053;
  margin: 2.21vh 0;
}

.info-wrap .contents {
  margin-bottom: 0.5vh;
  font-weight: 500;
  letter-spacing: 0.257143px;
  font-size: 1.5vh;
  color: #727376;
}

.info-detail {
  padding: 2.5vh 3vh;
}

.info-detail .row-wrap {
  justify-content: space-between;
}

.category p {
  font-size: 1.7vh;
  letter-spacing: 0.3px;
  color: #b9b9b9;
  margin-bottom: 3vh;
}

.category-contents p {
  font-size: 1.7vh;
  letter-spacing: 0.3px;
  color: #727376;
  margin-bottom: 3vh;
}

.pending-card {
  height: 12vh;
  padding: 2.5vh 3vh;
}

.pending-card .row-wrap {
  justify-content: space-between;
  margin-bottom: 1.7vh;
}

.pending-card .row-wrap div {
  font-size: 1.7vh;
}

.cancel-btn {
  border-radius: 10px !important;
  border-color: #dfdfdf;
  font-size: 1.7vh;
  height: 4vh;
}
