input::placeholder {
  color: #d0d0d0 !important;
}

.wrap {
  width: 400vw;
  height: 100vh;
  transition: transform 500ms;
  overflow-x: hidden;
}

#path {
  margin: 5%;
  margin-top: 8%;
}

.text-box {
  color: #4e5053;
  margin-left: 1.6rem;
  margin-top: 0;
}

p {
  font-size: 0.95rem;
  margin-left: 1.6rem;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #727376;
}

.form-control {
  margin-left: 1rem;
  width: 90%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #b9b9b96c;
  font-size: 0.9rem;
}

.resend-btn {
  font-size: 0.85rem;
  float: right;
  color: #727376;
  /* margin-bottom: 13%; */
}

.login-btn {
  width: 90vw;
  display: block;
  /* margin: auto; */
  opacity: 0.6;
  border-radius: 10px !important;
  height: 3.2rem;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  background: radial-gradient(
    360.83% 360.83% at -62.81% -190%,
    #fb72ad 0%,
    #b643d5 100%
  );
  position: absolute;
  bottom: 0;
  margin-bottom: 40vh;
}
.continue1-btn {
  left: 5vw;
  /* transform: translateX(); */
}
.continue2-btn {
  left: 105vw;
}

.forgot-done-btn {
  /* margin-top: 22%; */
  left: 205vw;
}

.password-wrap {
  position: relative;
}

.password-wrap img {
  position: absolute;
  right: 1.2rem;
  bottom: 0.6rem;
}
