input::placeholder {
  color: #d0d0d0 !important;
}

* {
  font-family: "Poppins", sans-serif;
}

.view {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.wrap {
  width: 400vw;
  height: 100vh;
  transition: transform 500ms;
  overflow-x: hidden;
}

.screen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  float: left;
}

#path {
  margin-left: 7.7vw;
  margin-top: 6.4vh;
  height: 2.9vh;
}

.text-box {
  color: #4e5053;
  margin: 2.7vh 7.7vw 0 7.7vw;
}

.text-box h1 {
  font-size: 3.9vh;
  font-weight: 600;
  color: #4e5053;
  line-height: 5.5vh;
}

.forgot-pwd-3 h1 {
  margin-bottom: 8.3vh;
}

.description {
  margin-top: 2.5vh;
  font-size: 1.6vh;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #727376;
}

.form-control {
  margin-left: 7.7vw;
  padding-bottom: 1.8vh;
  width: 85%;
  margin: auto;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #b9b9b96c;
  font-size: 1.6vh;
}

.forgot-pwd-1 .form-control {
  margin-top: 6.4vh;
}

.forgot-pwd-2 .form-control {
  margin-top: 3vh;
}

.forgot-pwd-3 .form-control {
  margin-bottom: 3vh;
}

.password-wrap {
  position: relative;
}

.password-wrap img {
  margin-bottom: 3vh;
  height: 2vh;
  min-height: 1.5vh;
  position: absolute;
  right: 7.7vw;
  bottom: 1.9vh;
}

.resend-btn {
  margin-top: 2vh;
  margin-right: 7.7vw;
  font-size: 1.6vh;
  float: right;
  color: #727376;
  background: none;
  border: none;
}

.custom-btn {
  width: 85%;
  margin: auto;
  display: block;
  opacity: 0.6;
  border-radius: 10px !important;
  height: 7.3vh;
  color: white;
  font-weight: 600;
  font-size: 2.5vh;
  background: radial-gradient(
    360.83% 360.83% at -62.81% -190%,
    #fb72ad 0%,
    #b643d5 100%
  );
}

.continue1-btn {
  margin-top: 9.5vh !important;
}

.continue2-btn {
  margin-top: 9.5vh !important;
}

.forgot-done-btn {
  margin-top: 7.5vh !important;
}
