* {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

.view {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.wrap {
  /* width 100당 옆으로 슬라이드되는 화면 갯수  */
  width: 200vw;
  height: 100%;

  transition: transform 500ms;
  position: relative;
}

.screen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  float: left;
}

.wrap_description {
  width: 300vw;
  overflow-x: hidden;
}

.description {
  width: 100vw;
  overflow: auto;
  float: left;
}

.welcome-bg {
  background-image: url("../img/welcome_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.text-box {
  color: white;
  margin-top: 23.7vh;
  margin-left: 1.5rem;
}

.text-box h1 {
  font-size: 4vh;
  font-weight: 600;
  margin-bottom: 1rem;
}

.text-box h2 {
  font-size: 2vh;
  font-weight: 500;
  margin-bottom: 2rem;
}

.text-box p {
  max-width: 70%;
  font-size: 2vh;
  font-weight: 200;
  line-height: 1.5rem;
}

.begin-btn {
  color: white;
  margin-left: 1.5rem;
  margin-top: 19.2vh;
  font-size: 1.2rem;
}

.begin-btn p,
.begin-btn img {
  display: inline-block;
}

/* page2 */

.mySwiper {
  margin-top: 10vh;
}

.dot-box {
  position: static;
  margin-top: 5vh;
}

.page2 .text-box {
  margin-top: 0;
  margin-left: 2rem;
}

.page2 h1 {
  color: #4e5053;
}

.page2 img {
  display: block;
  margin: auto;
  margin-top: 6.2vh;
  width: 25.7vh;
}

.page2 p {
  color: #727376;
  width: 90%;
  margin-top: 7.8vh;
  margin-left: 2rem;
  font-size: 1.8vh;
  line-height: 3vh;
}

.selected {
  background-color: #b643d5;
}

.next-btn {
  width: 90vw;
  display: block;
  /* margin: 0 auto; */
  background: radial-gradient(
    360.83% 360.83% at -62.81% -190%,
    #fb72ad 0%,
    #b643d5 100%
  );
  height: 3.2rem;
  border-radius: 10px;
  color: white !important;
  font-weight: 700;
  font-size: 1.2rem;
  margin: auto;
  margin-top: 7.3vh;
  margin-bottom: 1vh;
}

.swiper-pagination-bullet-active {
  background-color: #b643d5;
}
