* {
  font-family: "Poppins", sans-serif;
}

.hidden {
  visibility: hidden;
}

.view {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.wrap {
  /* width 100당 옆으로 슬라이드되는 화면 갯수  */
  width: 200vw;
  height: 100%;
  transition: transform 500ms;
  position: relative;
}

.screen {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  float: left;
}

.wrap_description {
  width: 300vw;
  /* height: 80vh; */
  overflow-x: hidden;
}

.description {
  width: 100vw;
  /* height: 100%; */
  overflow: auto;
  float: left;
}

.welcome-bg {
  background-image: url("../img/welcome_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.text-box {
  color: white;
  margin-top: 3rem;
  margin-left: 1rem;
}

.text-box h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.text-box h2 {
  margin-bottom: 3rem;
}

.text-box p {
  max-width: 60%;
  line-height: 2rem;
}

.begin-btn {
  color: white;
  margin-left: 1rem;
  margin-top: 15rem;
  font-size: 1.2rem;
}

.begin-btn p,
.begin-btn img {
  display: inline-block;
}

/* page2 */

.page2 h1 {
  color: #4e5053;
}

.page2 img {
  display: block;
  margin: auto;
  /* height: 30vh; */
}

.page2 p {
  color: #727376;
  width: 90%;
  margin-top: 4rem;
  margin-left: 1rem;
  line-height: 2rem;
}

.selected {
  background-color: #b643d5;
}

.next-btn {
  width: 90vw;
  display: block;
  /* margin: 0 auto; */
  background: radial-gradient(
    360.83% 360.83% at -62.81% -190%,
    #fb72ad 0%,
    #b643d5 100%
  );
  height: 3.2rem;
  border-radius: 10px;
  color: white !important;
  font-weight: 700;
  font-size: 1.2rem;
  position: absolute;
  bottom: 1rem;
  right: 3%;
}

.swiper-pagination-bullet-active {
  background-color: #b643d5;
}
