a {
  text-decoration: none !important;
  color: #a0a0a0;
}

a:hover {
  color: #a0a0a0;
}

input::placeholder {
  color: #d0d0d0 !important;
}

.login-page1 {
  position: relative;
}

.login-page1 input {
  margin-left: 1rem;
}

.text-box {
  color: #4e5053;
  margin-left: 1.6rem;
  margin-top: 12.4vh;
  margin-bottom: 4vh;
  font-weight: 600;
}

.form-control {
  width: 90vw;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #b9b9b96c;
  margin: auto !important;
}

.password-wrap {
  position: relative;
}

.password-wrap img {
  position: absolute;
  right: 5vw;
  bottom: 0.6rem;
  z-index: 1000;
}

.forgot-btn {
  float: right;
  color: #727376;
  margin-top: 2vh;
  font-weight: 500;
  font-size: 1.5vh;
  margin-right: 5vw;
}

.touch-text {
  margin-top: 4.6vh;
}

.login-btn {
  width: 90%;
  display: block;
  margin: auto;
  opacity: 0.6;
  border-radius: 10px !important;
  height: 3.5rem;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  background: radial-gradient(
    360.83% 360.83% at -62.81% -190%,
    #fb72ad 0%,
    #b643d5 100%
  );
  margin-top: 6.1vh;
}

.login-bg {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: -1;
  /* max-height: 28.3vh; */
}

.login-page1 p {
  color: #b9b9b9;
  text-align: center;
}

.finter-btn {
  display: block;
  margin: auto;
  opacity: 0.5;
  transition: all 300ms;
  margin-top: 3.6vh;
  width: 8.7vh;
  max-width: 71px;
}

.finter-btn:hover {
  opacity: 1;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5vh;
  font-weight: 400;
  font-size: 2vh;
}

.login-page1 footer p {
  z-index: 10;
  color: white;
}

input::placeholder {
  font-size: 0.8rem;
}
