.profile-bar {
  padding: 1rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.profile-img {
  width: 3rem;
  height: 3rem;
  background-color: #d2d2d2;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
}

.profile {
  display: flex;
}

.profile-text h1 {
  color: #4e5053;
}

.profile-text p {
  color: #b9b9b9;
}

.card-wrap {
  width: 320px;
}

.credit-card {
  max-width: 320px;
  height: 11rem;
  background-image: url("../img/card_bg.png");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.credit-card img {
  width: 40px;
  height: 40px;
}

.credit-card p {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
}
.registerd-card {
  text-align: left;
  display: block;
  padding: 2rem;
}
.registerd-card h2 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.registerd-card h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.registerd-card h3 {
  font-size: 0.7rem;
  color: #dadada;
  margin-bottom: 0.5rem;
}

.swiper-container {
  overflow: visible;
}
.swiper-slide {
  opacity: 0.4;
  transition: opacity 0.3s;
  transition: transform 0.3s;
  transform: scale(0.9);
}
.swiper-slide:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 104, 80, 0.637);
  transition: background 0.3s;
  border-radius: 8px;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

.swiper-slide-active:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(240, 143, 128, 0);
  border-radius: 8px;
}

.function-card {
  width: 95px;
  height: 100px;
  background: #ffffff;
  box-shadow: 1px 2px 8px #cccccc;
  border-radius: 10px;
  padding: 1rem;
  font-size: 0.5rem;
  margin: 0 0.5rem;
}

.function-card h1 {
  color: #727376;
  font-size: 0.8rem;
}
.function-card h2 {
  color: #b9b9b9;
  font-size: 0.7rem;
}

.function-card-box {
  display: flex;
  justify-content: center;
}

.transaction-container {
  width: 100%;
}

.transaction-list {
  width: 100%;
  height: 400px;
  z-index: -2;
  overflow-y: scroll;
  overflow-x: hidden;
}

.no-transaction-notice {
  width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-transaction-notice h1 {
  color: #b9b9b9;
  font-size: 1.2rem;
}

.no-transaction-notice h2 {
  color: #b9b9b9;
  font-size: 0.8rem;
}

.bottom-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.3rem;
  box-shadow: 0px -5px 14px rgba(204, 204, 204, 0.598902);
  z-index: 100;
  background-color: #fff;
}

.nav-selected {
  filter: invert(39%) sepia(72%) saturate(2170%) hue-rotate(259deg)
    brightness(84%) contrast(99%);
}

.transaction {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.transaction::after {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: #eee;
  bottom: -1rem;
  margin: 0;
}

.transaction-number h1,
.transaction-number h2 {
  text-align: right;
}

.transaction div h1 {
  color: #727376;
}

.transaction div h2 {
  color: #b9b9b9;
  font-weight: 300;
  margin-top: 0.2rem;
}
