input[type="text"] {
  font-weight: 600;
  padding: 0.8em 0.5em; /* 여백 설정 */
  color: #727376;
}

.loading {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 8px solid #dddddd;
  border-top-color: #b643d5;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}
.picker {
  border: none;
  /* border-bottom: 1px solid rgb(182, 182, 182); */
  width: 100%;
}
.range-wrap {
  position: relative;
}
input[type="range"]::-webkit-slider-runnable-track {
  position: relative;
  height: 12px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  background-color: #e2e2e2;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  top: -5px;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  -webkit-appearance: none;
  background-color: #fff;
  box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  cursor: pointer;
}

output {
  position: absolute;
  top: -32px;
  display: none;
  width: 50px;
  height: 24px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  border-radius: 3px;
  color: #777;
  font-size: 0.8em;
  line-height: 24px;
  text-align: center;
}

input[type="range"]:active + output {
  display: block;
  transform: translateX(-50%);
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.view {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.wrap {
  width: 400vw;
  height: 100vh;
  transition: transform 500ms;
  overflow-x: hidden;
}

.screen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  float: left;
}

#path {
  margin-left: 7.7vw;
  margin-top: 6.4vh;
  height: 2.9vh;
}

.text-box {
  color: #4e5053;
  margin: 2.7vh 7.7vw 0 7.7vw;
}

.text-box h1 {
  font-size: 3.9vh;
  font-weight: 600;
  color: #4e5053;
  line-height: 5.5vh;
}

#clean-description {
  margin-left: 7.7vw;
  margin-bottom: 1.9vh;
  font-size: 1.6vh;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #727376;
}

.row-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 7.7vw;
}

.search-wrap {
  position: relative;
  flex-grow: 1;
  margin-right: 4.2vw;
}

.search-wrap img {
  position: absolute;
  left: 16px;
  bottom: 1.4vh;
  /* form-control 사이즈 min, max 값 정해놔서 bottom 값을 어떻게 줘야 화면이 너무 작아지거나 커졌을 때 안이상하게 할지,,, */
}

.form-control {
  width: 100%;
  height: 5.1vh;
  min-height: 35px;
  max-height: 45px;
  padding-left: 40px;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 8px;
  font-size: 1.6vh;
}

#date {
  font-weight: 500;
  font-size: 1.6vh;
  line-height: 30px;
  letter-spacing: 0.3px;

  color: #a0a0a0;
}

.clear-btn {
  font-size: 1.6vh;
  background: none;
  border: none;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.3px;

  color: #a0a0a0;
}

.cancel-btn {
  font-size: 1.6vh;
  background: none;
  border: none;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.3px;

  color: #a0a0a0;
}

.history-header {
  margin-top: 3.9vh;
  margin-bottom: 1.8vh;
}

.card {
  margin: 0 7.7vw;
  margin-bottom: 1.8vh;
  /* padding: 0.8rem 0 0.8rem 0.3rem; */
  background: #ffffff;
  box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.card p {
  margin-top: 0.9rem;
  margin-left: 0.3rem;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.3px;
  font-size: 0.9rem;

  color: #4e5053;
}

.card .detail {
  margin-bottom: 1rem;
  margin-left: 0.3rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: 0.9rem;
  color: #b9b9b9;
}

.design {
  border-radius: 8px 0 0 8px;
  position: absolute;
  left: 0rem;
  background-color: #fa7268;
  height: 100%;
  width: 0.5rem;
  overflow-y: hidden;
}

.clear-all-btn {
  width: 90%;
  display: block;
  margin: auto;
  opacity: 0.6;
  border-radius: 10px !important;
  height: 7.4vh;
  color: white;
  font-weight: 600;
  font-size: 2.5vh;
  background: linear-gradient(162.1deg, #faabb2 -180.26%, #ea4b63 243.53%);
}

.card-box {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 30vh;
  margin-bottom: 10.8vh;
}

.apply-btn {
  margin-top: 12.5vh !important;
  height: 7.4vh;
  color: white;
  font-weight: 600;
  font-size: 2.5vh;
  background: radial-gradient(
    360.83% 360.83% at -62.81% -190%,
    #fb72ad 0%,
    #b643d5 100%
  ) !important;
}

.from-date {
  margin-top: 0 !important;
}

.filter-card {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#range {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  border: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  transform: scale(0.7);
  background: #b643d5;
}

input[type="range"]::before {
  content: "";
  display: block;
  width: 2px;
  height: 1rem;
  background-color: #979797;
  margin-top: 0.3rem;
}

input[type="range"]::after {
  content: "";
  display: block;
  width: 2px;
  height: 1rem;
  background-color: #979797;
  margin-top: 0.3rem;
}

.rage-text {
  display: flex;
  justify-content: space-between;
  color: #b9b9b9;
}

.apply-btn {
  width: 90vw;
  display: block;
  margin: auto;
  opacity: 0.6;
  border-radius: 10px !important;
  height: 3.2rem;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  background: linear-gradient(162.1deg, #faabb2 -180.26%, #ea4b63 243.53%);
}

.mymodal {
  background-color: rgba(0, 0, 0, 0.171);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  color: #727376;
}

.ask-box {
  width: 70%;
  height: 10rem;
  background: #ffffff;
  box-shadow: 9px 10px 18px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.ask-btn {
  display: inline-block;
  width: 49%;
  text-align: center;
}

.ask-box-text {
  height: 70%;
  text-align: center;
  line-height: 7rem;
  border-bottom: 1px solid #cccccc;
}

.ask-button-box {
}

.search-wrap:hover #search-input-icon {
  display: none !important;
}
.range-value {
  position: absolute;
  top: -30%;
  transform: translate(-50%, 0);
  font-weight: 600;
  color: #4e5053;
  font-size: 2vh;
}
